body {
    font-family: 'Montserrat', sans-serif;
    background-color: #E5E5E5;
    padding: 40px 40px 40px 40px;
}

.wrapper {
    display: flex;
    flex-direction: row-reverse;
    background: #ffff;
    width: 1200px;
    margin: 0 auto;
    
}

/* Main content */

.main-content {
    padding: 88px;
}

/*About me*/

.my-profession {
    padding-bottom: 180px;
}

h2 {
    font-size: 35px;
}

.project-item {
    background-color: yellow;
}

/*Sidebar*/

.sidebar {
    width: 370px;
    background: #E0EBFE;
}

.my-photo {
    margin-top: 40px;
}

.contacts-container,
.tech-skills-container,
.soft-skills-container {
    margin: 48px 0 0 40px;
}

.sidebar-title {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #161d2a;
    margin-bottom: 8px;
}