body {
    font-family: 'Montserrat', sans-serif;
    background-color: #E5E5E5;
    padding: 40px 40px 40px 40px;
}

.wrapper {
    display: flex;
    flex-direction: row-reverse;
    background: #ffff;
    width: 1200px;
    margin: 0 auto;
    
}

/* Main content */

.main-content {
    padding: 88px;
}

/*About me*/

.my-profession {
    padding-bottom: 180px;
}

h2 {
    font-size: 35px;
}

.project-item {
    background-color: yellow;
}