body {
    font-family: 'Montserrat', sans-serif;
    background-color: #E5E5E5;
    padding: 40px 40px 40px 40px;
}

.wrapper {
    display: flex;
    flex-direction: row-reverse;
    background: #ffff;
    width: 1200px;
    margin: 0 auto;
    
}

/* Main content */

.main-content {
    padding: 88px;
}

/*About me*/

.my-profession {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin: 0 0 18px 0;
}

.my-name {
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    color: #000000;
    margin: 0 0 28px 0;
}

.my-description {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    width: 525px;
}

.about-me-container {
    margin-bottom: 64px;
}

/*Work experience*/

.work-experience-container {
    margin-bottom: 44px;
}

.work-experience-position {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin: 0;
}

.work-experience-place {
    margin-bottom: 16px;
}

.work-experience-company {
    color: #6D9BF5;
}

.education {
    color: #6D9BF5;
}

/*Sidebar*/

.sidebar {
    width: 370px;
    background: #E0EBFE;
}

.my-photo {
    margin-top: 40px;
    margin-left: 20px;
}

.contacts-container,
.tech-skills-container,
.soft-skills-container {
    margin: 48px 0 0 40px;
}

.sidebar-title {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #161d2a;
    margin-bottom: 8px;
}

.contacts-number {
    color: black;
}
